@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway&display=swap");

/* Global section */
body {
  background-color: #c0f3f8;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

/* div content */
#content {
  max-width: 1600px;
  margin: 0 auto;
}

header {
  background-color: #234bfb;
}

/* logo */
#logo_link {
  padding-top: 5px;
}

.logo {
  width: 80px;
  border-radius: 35%;
}

/* Nav home */
nav a {
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 35px;
}

nav a:hover {
  background-color: #6cfbce;
  color: #000446bc;
}

/* div hero */
#hero-img {
  width: 100%;
}

#hero-msg h1,
#hero-msg h4 {
  text-align: center;
}

.home-title {
  color: #000446bc;
  font-size: 2em;
  margin-top: 10px;
}

#hero-msg h4 {
  font-family: raleway;
}

.button-box {
  text-align: center;
}

h4 {
  color: #000446bc;
}

/* home grid */
.rivers-card,
.camping-card,
.rapids-card {
  margin: 200px 0;
}

.card-img {
  border: 10px solid #000446bc;
}

main section {
  text-align: center;
}

main section img {
  box-sizing: border-box;
}

h2 {
  margin: 0;
}

.icon {
  width: 80px;
  padding-top: 10px;
}

.book,
.join {
  background-color: #1e00ff;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 5px;
}

.book:hover,
.join:hover {
  background-color: #6cfbce;
  color: #000446bc;
  margin-top: 50px;
}

#background {
  height: 725px;
  background-color: #000446bc;
}

/* msg section */
.msg {
  background-color: #9be1ff;
  line-height: 1.5em;
  padding: 35px;
}

.msg h2 {
  color: #000446bc;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.msg p {
  color: #000446bc;
  font-family: raleway;
  font-size: 0.8em;
  padding-bottom: 15px;
}

/* footer */
footer {
  background-color: #234bfb;
  color: white;
  padding: 25px 50px;
  margin-top: 200px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: black;
}

footer p {
  font-size: 1.2rem;
}

footer p a:hover {
  text-decoration: underline;
}

footer .social img {
  padding-top: 15px;
}
